<h1>Hardware Components</h1>

<div class="row">
  <div class="col-sm-6">
    <ul>
      <li>
	<strong>CubeSat Kit Development Board/Flight Module</strong>
	<br/> The "brain" of the buoy.  Includes a very low power
	Texas Instruments MSP430 microcontroller.
      </li>
      
      <li>
	<strong>NRG Systems Anemometer</strong><br/> Measures wind speed
      </li>
      
      <li>
	<strong>NRG Systems Wind Vane</strong><br/> Measures relative wind
	direction
      </li>
      
      <li>
	<strong>NRG Systems Temperature Sensor</strong>
	<br/> Measures temperature
      </li>
      
      <li>
	<strong>Honeywell Magnetometer</strong>
	<br/> Measures magnetic orientation of buoy
      </li>
      
      <li>
	<strong>NAL Research Iridium Satellite Modem and GPS</strong>
	<br/> Measures physical location as well as transmits data
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    <p>
      <img class="img-fluid" src="/images/hardware_lg.jpg" alt="Buoy Hardware" />
    </p>
  </div>
</div>
