<h1> Mission Overview </h1>

<p>
  The goal of the Alaskan Ice Buoy project is to develop a buoy that
  collects environmental data from the Arctic and transmits that data
  back to Vermont. The project is also being used to gain experience
  with
  <a href="http://www.cubesatkit.com">
    <strong>CubeSat Kit</strong>
  </a>
  hardware, in hopes of using the CubeSat Kit platform to launch a
  satellite into space as a subsequent project.
</p>

<p>
  The project was conceived in collaboration with the University of
  Vermont, which has been studying and mathematically modeling arctic
  sea ice. The ice forms in the colder months in the arctic regions,
  and melts in the spring and summer months. Unlike terra firma, this
  ice is constantly moving and shifting in relation to many variables,
  such as temperature, wind speed, and wind direction. One of the
  problems that the researchers at the University of Vermont have
  encountered is that they do not have enough data about the sea ice
  to model it completely. In order to better model the mechanics of
  sea ice, they need data to be collected from on the ice itself,
  which is the goal of the buoy.
</p>
