<h1>Software Components</h1>
<div class="row">
  <div class="col-sm-9">
    <p>
      The software for the buoy is written in SPARK, a strict subset
      of the Ada programming language. This was chosen because of its
      high integrity and reliability. Once the buoy is deployed, there
      will be no opportunity to correct software bugs or errors, so a
      solid program is essential.
    </p>

    <p>
      Unfortunately, the microcontroller we chose (Texas Instruments
      MSP430) has no Ada compiler available. In order to combat this,
      a software toolchain has been created, which can be seen at
      right.
    </p>

    <p>
      In detail, the SPARK code written by the developers is run
      through
      <a href="https://www.altran.com/uk/en/about-us/what-we-do/expertise-centres/intelligent-systems/">
	<strong>Altran's</strong>
      </a>
      
      SPARK examiner to ensure that the annotations match the
      code. The code is then run through
      <a href="http://www.sofcheck.com/">
	<strong>SofCheck</strong>
      </a>
      's AdaMagic compiler, which compiles the Ada code into C
      code. That C code is then combined with microcontroller device
      drivers written in C and called from Ada, and it is compiled for
      the MSP430 platform using
      <a href="http://www.rowley.co.uk/">
	<strong>Rowley Associates</strong>
      </a>
      ' CrossWorks.
    </p>
  </div>
  <div class="col-sm-3">
    <p>
      <img class="img-fluid"
	   src="/images/software.png" alt="Software Toolchain Diagram" />
    </p>
  </div>
</div>

