<h1>Data</h1>

<p>
  Here is some Inertial Measurement Unit data downloaded from the
  CubeSat on March 6, 2014 (plots by plot.ly).
</p>

<div class="row">
  <div class="col-sm-12">
    <p>
      <img class="img-fluid" 
	   src="/images/vermont_lunar_cubesat_inertial_measurement_unit_data-2.png"
	   alt="Graph of Acceleration from IMU data" />
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p>
      <img class="img-fluid"
	   src="/images/vermont_lunar_cubesat_inertial_measurement_unit_data.png"
	   alt="Graph of Rotation Rate from IMU data" />
    </p>
  </div>
</div>

<hr width="50%"/>

<p>
  First contact, 90 minutes after launch, from the parking lot at
  Wallops Island, with an Arrow antenna, Funcubedongle+ and Macbook,
  by Justin Foley (Cal Poly).
</p>

<div class="row text-center">
  <div class="col-sm-12">
    <p>
      <img class="img-fluid" src="/images/Waterfall_20131120_190137_small.jpg" />
    </p>
  </div>
</div>
