<h1 class="ada_compliance">Photo Gallery</h1>

<p style="text-align: center;">
  Here is a picture of the Minotaur 1 rocket being launched from
  Wallops Island, VA, and carrying our CubeSat to orbit.
</p>

<p style="text-align: center;">
  <img src="/images/Vermont_CubeSat_launch_NASA.jpg"
       alt="Picture of VTC CubeSat launch"
       width="500"  height="427"/>
</p>

<hr style="width: 50%;"/>

<p style="text-align: center;">
  Here is the first photo of the Earth downloaded and assembled by
  Bill McGrath of LED Dynamics. It is of the North coast of Western
  Australia, looking towards Port Hedland.
</p>

<p style="text-align: center;">
  <img src="/images/140324-1123P-good_earth.jpg"
       alt="Picture of western Australia taken from the VTC CubeSat"
       width="640" height="480"/>
</p>

<hr style="width: 50%;"/>

<p style="text-align: center;">
  Here is the second downloaded photo of clouds over the ocean.
</p>

<p style="text-align: center;">
  <img src="/images/0x5E-20140331-0945-clouds.jpg"
       alt="Picture of clouds taken from the VTC CubeSat"
       width="640" height="480"/>
</p>

<hr style="width: 50%;"/>

<p style="text-align: center;">
  Here is the third downloaded photo of Yarra Yarra Lakes, Mongers
  Lake, Lake Moore and Lake Austin. North of Perth in Western
  Australia.
</p>

<p style="text-align: center;">
  <img src="/images/140324-0831P-land_ho.jpg"
       alt="Picture of western Australia taken from the VTC CubeSat"
       width="640" height="480"/>
</p>

<hr style="width: 50%;"/>

<p style="text-align: center;">
  Here is a photo of the cloud covered edge of the Earth.
</p>

<p style="text-align: center;">
  <img src="/images/0x19-20140403-0655-clouds3.jpg"
       alt="Picture of clouds and the curvature taken from the VTC CubeSat"
       width="640" height="480"/>
</p>
