<h2>Acknowledgments</h2>

<p>
  Our work is supported by grants from the 
  <a href="http://www.vtspacegrant.org/">
    <strong>Vermont Space Grant Consortium</strong>
  </a>
  , a part of the NASA Space Grant program, NASA, and EPSCoR.
  Vermont Technical College has also received generous
  donations of commercial software from
  
  <a href="https://www.adacore.com/academia">
    <strong>AdaCore</strong>
  </a>
  , 
  <a href="http://www.sofcheck.com/">
    <strong>SofCheck</strong>
  </a>
  , 
  <a href="https://www.altran.com/uk/en/about-us/what-we-do/expertise-centres/intelligent-systems/">
    <strong>Altran</strong>
  </a>
  , and
  <a href="http://www.rowley.co.uk/">
    <strong>Rowley Associates</strong>
  </a>
  .
</p>


<p>
  Software to analyze orbits of our spacecraft has been
  supplied as a generous donation from AGI of their Systems
  Tool Kit.
</p>


<p>
  <a class="imageLink" href="http://www.agi.com">
    <img src="images/agi_banner.gif" alt="AGI Banner"
	 height="61" width="459"/>
  </a>
</p>

