<h1 class="ada_compliance">Overview</h1>

<p>
  The CubeSat Laboratory at
  <a href="http://www.vtc.edu/">
    <strong>Vermont Technical College</strong>
  </a>
  (VTC) is a collection of students, faculty, and staff
  building
  <a href="https://en.wikipedia.org/wiki/CubeSat">
    <strong>CubeSat</strong>
  </a>
  technology spacecraft.
</p>

<p>
  While CubeSats are being constructed by many groups around
  the world, both inside and outside of academia, what makes
  our work different is that we use the
  <a href="http://www.spark-2014.org/">
    <strong>SPARK/Ada programming language</strong>
  </a>
  for our software needs. As compared to the more commonly
  used C language, Ada makes it much easier to write
  correct, robust software. SPARK adds the ability to create
  mathematical proofs (with the aid of tools) showing
  freedom from certain classes of runtime errors and other
  correctness properties. Our BasicLEO CubeSat, launched in
  November 2013 is the first CubeSat programmed with Ada and
  the first spacecraft of any kind programmed with SPARK.
</p>

<p>
  This is the official web site for VTC's CubeSat Laboratory
  providing information about all our missions, both in the
  past and ongoing. See the
  <a href="http://cubesatlab.blogspot.com/">
    <strong>Flying Sparks</strong>
  </a>
  blog for up to the minute information about our current
  work. To contact us, see the "People" section below.
</p>

<p>
  This web site was designed, created, and is maintained by
  VTC students and faculty.
</p>
