<h2>People</h2>

<!-- Put people in alphabetical order by last name in each
     section, except keep Carl Brandon and Peter Chapin who
     should be kept at the top. -->

<ul>	    
  <li>
    <p>
      <a href="mailto:cbrandon@vtc.edu">
	<strong>Dr. Carl Brandon</strong>
      </a>
      (2007 &#x2013;), Principal Investigator.  <br/>
      Dr. Brandon is a professor of physics at Vermont
      Technical College (VTC). He oversees and administers
      the project and does whatever else needs doing.
    </p>
  </li>

  
  <li>
    <p>
      <a href="http://lemuria.cis.vtc.edu/~pchapin/">
	<strong>Dr. Peter Chapin</strong>
      </a>
      (2007 &#x2013;), Software Director.  <br/> Dr. Chapin
      is a professor of computer information systems at
      VTC. He oversees and contributes to the software
      development done on the project, working especially
      with the high integrity tool chain used.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Sevan Golnazarian</strong> (November 2020
      &#x2013;), Software Engineering (MSEE) student.  <br/>
      Mr. Golnazarian is working on CubedOS and, in
      particular, on extending CubedOS to work with CubeSat
      swarms.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Silas Smith</strong> (May 2020 &#x2013;),
      Software Engineering Student.  <br/> Mr. Smith is
      working on an implementation of the JT65
      communications protocol for CubedOS.
    </p>
  </li>
</ul>


<h3>Past Students, Faculty, and Staff</h3><br/>
<ul>
  <li>
    <p>
      <strong>Jeremy Audet</strong> (May 2011 &#x2013; Aug
      2011).  <br/>Mr. Audet worked on the preliminary
      version of the flight control software for our
      BasicLEO orbiting satellite, with an emphasis on
      hardware interfacing.
    </p>
  </li>

  
  <li>
    <p>
      <strong>India Beauregard</strong>.
      <br/>Ms. Beauregard worked on the inertial measurement
      unit for our BasicLEO satellite.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Jonathan Broadfoot</strong> (May 2016 &#x2013;
      May 2018), Software Engineering student.
      <br/>Mr. Broadfoot worked on Lunar IceCube.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Al Corkery</strong> (Sep 2010 &#x2013; May
      2011).  <br/>Mr. Corkery worked on GPS interfacing for
      our BasicLEO satellite.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Justin D'Amour</strong> (Aug 2018 &#x2013; May
      2019), Computer Engineering Technology student.
      <br/>Mr. D'Amour worked on building a drone test
      platform for CubedOS as a senior project.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Devon Diianni</strong> (May 2020 &#x2013;
      August 2020), Software Engineering Student.
      <br/>Mr. Diianni worked on an implementation of the
      JT65 communication protocol for CubedOS.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Christopher Farnsworth</strong> (May 2016
      &#x2013; May 2018), Software Engineering (MSSE)
      student.  <br/>Mr. Farnsworth worked on Lunar
      IceCube. His Master's project was to implement the
      spiral thrusting technique required to dump thrust
      axis angular momentum using a single, two-axis
      gimbaled ion drive.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Sarah Ferland</strong> (March 2017 &#x2013;
      May 2019), Software Engineering student.
      <br/>Ms. Ferland worked on Lunar IceCube and CubedOS.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Taylor Hegarty</strong> (September 2018
      &#x2013; May 2020), Software Engineering student.
      <br/>. Mr. Hegarty worked on the CubeSat Laboratory
      web site, helping to bring it into ADA compliance.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Jordan Hodge</strong> (Sep 2010 &#x2013; May
      2011).  <br/>Mr. Hodge worked on our ground station.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Niels Huisman </strong> (Jan 2015 &#x2013; May
      2017), Electromechanical Engineering Technology
      student.  <br/>Mr. Huisman worked on Lunar IceCube.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Nicole Hurley</strong> (Jan 2015 &#x2013; May
      2016), Software Engineering student.  <br/>Ms. Hurley
      worked on CubedOS and also did website development.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Ashraf Khalil</strong> (Aug 2018 &#x2013; May
      2019), Computer Information Technology student.
      <br/>Mr. Khalil worked on a virtual machine for
      CubeSat Laboratory development and web site as a
      senior project.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Sean Klink</strong> (Sep 2016 &#x2013; May
      2018), Software Engineering (MSSE) student.
      <br/>Mr. Klink worked on CubedOS. His Master's project
      was to implement the XDR2OS3 tool.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Chad Loseby</strong> (Sep 2008 &#x2013; May
      2009).  <br/>Mr. Loseby focused on the integration of
      and communications between the software and the
      hardware in the Alaskan Ice project.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Jordan Lyford</strong> (Sep 2010 &#x2013; May
      2011).  <br/>Mr. Lyford worked on our ground station.
    </p>
  </li>

  
  <!-- TODO: Is the start date of Nov 2012 correct for Bill? -->
  
  <li>
    <p>
      <strong>William McGrath</strong> (Nov 2012 &#x2013;
      ?), Communications.  <br/>Mr.  McGrath is a VTC
      alumnus who provided up and down link communications
      services to our basic low Earth orbiting CubeSat while
      we constructed our own ground station. He is the
      president and CTO of
      <a href="http://www.leddynamics.com/">
	<strong>LEDdynamics</strong>
      </a>
      .
    </p>
  </li>

  
  <li>
    <p>
      <strong>Scott McGrath</strong> (Nov 2013 &#x2013; ?),
      Communications.  <br/>Mr.  McGrath is a VTC alumnus
      who was invaluable with analyzing flight software and
      assisting with communications.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Colin Myers</strong> (Sep 2012 &#x2013; May
      2013).  <br/>Mr. Meyers worked on the flight control
      software for our BasicLEO satellite.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Dr. Jeremy Ouellette</strong> (May 2019
      &#x2013;), Former Software Director.
      <br/>Dr. Ouellette is a professor of computer
      information systems at VTC.
    </p>
  </li>

  
  <!-- TODO: Is the start date of Nov 2012 correct for Oliver? -->
  
  <li>
    <p>
      <strong>Oliver Piluski</strong> (Nov 2012 &#x2013; Nov
      2013).  <br/>Mr. Piluski is a VTC alumnus who has
      assisted with the construction of our BasicLEO
      satellite. He is an employee of LEDdyanmics, Inc.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Wilson Schreiber</strong> (Sep 2010 &#x2013;
      May 2011).  <br/>Mr. Schreiber worked on our ground
      station.
    </p>
  </li>

  
  <li>
    <p>
      <strong>
	<a href="mailto:dturner34@gmail.com">
	  Dan Turner
	</a>
      </strong>
      (May 2012 &#x2013; Jan 2015).  <br/>Mr. Turner worked
      on the flight and ground control software of our
      BasicLEO satellite.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Matthew Ward</strong> (May 2011 &#x2013; Aug
      2011).  <br/>Mr. Ward worked on the preliminary
      version of the flight control software for our
      BasicLEO satellite, with an emphasis on SPARK
      development.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Michael White</strong> (Sep 2008 &#x2013; May
      2009).  <br/> Mr. White worked on the circuitry
      involved in connecting sensors to the system as well
      as other hardware concerns in the Alaskan Ice project.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Carl Wolf</strong> (Sep 2012 &#x2013; May
      2013).  <br/>Mr. Wolf is a professor of mechanical
      engineering at VTC. He worked on the solid model for
      our BasicLEO satellite.
    </p>
  </li>
  
</ul>


<h3>Past Student Interns</h3> <br/>


<ul>
  <li>
    <p>
      <strong>Emily Friedman</strong> (Oct 2016 &#x2013;
      January 2017), Student intern from Essex High School.
    </p>
  </li>

  
  <li>
    <p>
      <strong>Tigran Ionnisian</strong> (Mar 2017 &#x2013;
      June 2017), Student intern from Essex High School.
    </p>
  </li>
</ul>
