<h1>Hardware Components</h1>

<p>
  This page illustrates the main hardware components of our basic low
  Earth orbiting CubeSat.
</p>

<!-- First Row -->
<div class="row">
  <div class="col-sm-4">
    <img class="img-fluid" src="/images/cubesatkit_1u-revd-skeleton.jpg" />
    <h6>
      <a href="http://cubesatkit.com">
	<strong>CubeSat Kit</strong>
      </a>
      Development Board/Flight Module
    </h6>
    <p>
      The "brain" of the satellite. Includes a very low power Texas
      Instruments MSP430 microcontroller on the Pluggable Processor
      Module on the Motherboard. The aluminum structure of the
      CubeSat, into which Alnico V magnets are glued for passive
      magnetic stabilization.
    </p>
  </div>
  <div class="col-sm-4">
    <p>
      <img class="img-fluid" src="/images/ClydeSpaceEPS.jpg" 
           alt="Clyde Space EPS" />
    </p>
    <h6>
      <a href="http://clyde-space.com">Clyde Space</a> EPS
    </h6>

    <p>
      Power supply controls charging of the lithium polymer batteries
      by the photovoltaic panels, and produces 3.3V and 5V and ~8V
      raw.
    </p>
  </div>
  <div class="col-sm-4">
    <p>
      <img class="img-fluid" src="/images/AstrodevHelium-100.jpg"
	   alt="Astrodev Helium-100" />
    </p>
    <h6>
      <a href="http://astrodev.com">Astrodev</a> Helium-100 Radio
    </h6>

    <p>
      Receiver for 2m band and transmitter for 70cm band. For
      communication between the ground station and the CubeSat.
    </p>
  </div>
</div>

<!-- Second Row -->
<div class="row">
  <div class="col-sm-3">
    <p>
	<img class="img-fluid" src="/images/ISIS-AntS.jpg" alt="ISIS AntS" />
    </p>
      <h6>
	<a href="http://www.isispace.nl">ISIS</a> AntS Deployable Antenna
      </h6>

    <p>
      Crossed dipole antennas for 2m and 70cm, deploy after the
      CubeSat is deployed from the launch vehicle.
    </p>
  </div>
  <div class="col-sm-3">
    <p>
	<img class="img-fluid" src="/images/NovatelOEMV-1.jpg"
	     alt="Novatel OEMV-1 GPS" />
    </p>
    <h6>
	<a href="http://novatel.com">Novatel</a>
	OEMV-1 GPS &amp; University of Michigan Position and Time
	Board
    </h6>

    <p>Space qualified GPS and mounting board.</p>
  </div>
  <div class="col-sm-3">
    <p>
	<img class="img-fluid" src="/images/IMU-board.jpg"
	     alt="IMU/Camera/GPS Patch/Hysteresis Rods" />
    </p>
    <h6>IMU/Camera/Patch Antenna/Hysteresis Board</h6>

    <p>
      Mounts our
      <a href="http://www.microstrain.com">
	<strong>Microstrain</strong>
      </a>
      Inertial Measurement Unit, our GPS patch antenna, our camera and
      hysteresis rods.
    </p>
  </div>
  <div class="col-sm-3">
    <p>
	<img class="img-fluid" src="/images/DSC08890cropped.JPG"
	     alt="Photovoltaics Panels"/>
    </p>
    <h6>Photovoltaic Panels</h6>

    <p>
      Outer surface of the CubeSat mounting photovoltaic cells for
      solar power generation and very bright LEDs to observe the
      CubeSat from the ground. Made for us by
      <a href="http://leddynamics.com">
	<strong>LED Dynamics</strong>
      </a>
      .
    </p>
  </div>
</div>
