<h1 class="ada_compliance">Mission Overview</h1>

<p>
  The goal of the Basic Low Earth Orbit (BasicLEO) project is to
  explore the technologies required for building a viable CubeSat use
  SPARK/Ada for the flight control software. This project's
  predecessor was the
  <a href="AlaskanIce.php">
    <strong>Alaskan Ice Buoy Project</strong>
  </a>
  that helped us learn about the
  <a href="http://www.cubesatkit.com">
    <strong>CubeSat Kit</strong>
  </a>
  hardware that is also being used in this project
</p>

<p>
  Our CubeSat was launched into low Earth orbit as part of NASA's
  <a href="https://www.nasa.gov/mission_pages/smallsats/elana/index.html">
    <strong>ELaNa IV</strong>
  </a>
  program on the Air Force ORS-3 mission. The launch vehicle was an
  Orbital Sciences
  <a href="http://www.northropgrumman.com/capabilities/minotaur">
    <strong>Minotaur 1</strong>
  </a>
  rocket launched from
  <a href="http://www.nasa.gov/centers/wallops/home/index.html">
    <strong>Wallops Island</strong>
  </a>
  , VA, on November 19, 2013 (
  <a href="http://youtu.be/MxJOYt-RUIA">
    <strong>launch video</strong>
  </a>
  ) . The mission, still ongoing, has been a success!  We have
  downloaded many
  <a href="/basic-leo/pictures/">
    <strong>pictures from our spacecraft</strong>
  </a>
  as well as
  <a href="/basic-leo/data/">
    <strong>other telemetry data</strong>
  </a>
  .
</p>
