<h2>Tracking Information</h2>
<div class="row">
  <div class="col-sm-6">
    <p>
      Our low Earth orbiting CubeSat re-entered Earth's atmosphere
      and burned up on November 21, 2015. This was two years and
      two days after its launch. We were able to successfully
      communicate with the spacecraft up until a few hours before
      its re-entry.
    </p>

    <p>
      Thanks to all of you who helped our effort by emailing
      packets to us! For the record: our down link frequency was
      437.305 MHz, 9600 baud, FSK, AX.25. Our spacecraft has the
      International Designation 2013-064AD, also cataloged as
      NORAD 39407U.
    </p>

    <p>
      More tracking information can be found on the
      <a href="http://www.n2yo.com/satellite/?s=39407">
	<strong>N2YO real time satellite tracking site</strong>
      </a>
      .
    </p>
  </div>


  <div class="col-sm-6">
    <p>
      <img src="/images/VermontLunarCubeSat.JPG" class="img-fluid" />
    </p>
  </div>
</div>
